.CreateForm {
  display: grid;
  gap: 24px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.934);
  margin-top: 75px;
  border-radius: 20px;
}

.CreateForm label {
  display: grid;
}

.CreateForm input {
  padding: 4px;
  border: 1px solid #ccc;
}
