.Navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  align-items: stretch;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  width: 90%;
  position: fixed;
  bottom: 20px;
  left: 5%;
}

.Navigation__icon {
  display: grid;
  background: transparent;
  grid-template-rows: 30px;
  gap: 2px;
  border: none;
  font-size: 0.5em;
  padding: 5px;
}

.Navigation__icon > img {
  height: 100%;
  width: 100%;
}
