.Header {
  text-align: center;
  background: rgba(255, 255, 255, 0.249);
  backdrop-filter: blur(8px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 20px;
}
