.Header {
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
  text-align: center;
  background: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 20px;
}
